<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.ac.jejunu.jnu_tong">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".CommonData"
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_icon_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/SplashTheme"
        android:screenOrientation="portrait">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".detail.city_bus.CityBusDetailActivity"
            android:theme="@style/AppTheme.white"
            android:screenOrientation="portrait"/>
        <activity android:name=".detail.shuttle_bus.ShuttleBusDetailActivity"
            android:theme="@style/AppTheme.white"
            android:screenOrientation="portrait"/>
    </application>

</manifest>