<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.ac.jejunu.jnu_tong">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.CommonApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_app_icon_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme">
        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.unfolded_main.UnfoldedMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.bus.city.CityBusDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.white" />
        <activity
            android:name=".ui.bus.shuttle.ShuttleBusDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.white" />


        <receiver android:name=".AppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widgetinfo" />
        </receiver>
    </application>

</manifest>